<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <h1><%= title %></h1>
        <%- include("./partials/errors") %>
        <% if (locals.currentUser && locals.folder !== null) { %>
            <h2>Subfolders</h2>
            <% if (folder.subfolders.length === 0) { %>
                <p>No subfolders found</p>
            <% } %>
            <ul>
                <% folder.subfolders.forEach((elem) => { %>
                    <li>
                        <a href="/folder/<%=elem.id%>"><%= elem.name %></a>
                        <form action="/folder/rename" method="POST">
                            <input type="hidden" name="id" value="<%= elem.id %>">
                            <label for="name">Change name</label>
                            <input id="name" type="text" name="name">
                            <button type="submit">Submit</button>
                        </form>
                        <form action="/folder/delete" method="POST">
                            <button type="submit" name="id" value="<%= elem.id %>">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <h2>Files</h2>
            <% if (folder.files.length === 0) { %>
                <p>No files found</p>
            <% } %>
            <ul>
                <% folder.files.forEach((elem) => { %>
                    <li><a href="<%= elem.url %>"><%= elem.name %></a></li>
                    <form action="/folder/file/delete" method="POST">
                        <input type="hidden" name="id" value="<%= elem.id %>">
                        <button type="submit">Delete</button>
                    </form>
                <% }) %>
            </ul>
            <form action="/folder" method="POST">
                <h3>Create new folder</h3>
                <input type="hidden" name="parentId" value="<%= folder.id %>">
                <label for="name">Name</label>
                <input id="name" type="text" name="name">
                <button type="submit">Submit</button>
            </form>
            <form action="/folder/file" method="POST" enctype="multipart/form-data">
                <h3>Upload new file</h3>
                <input type="hidden" name="parentId" value="<%= folder.id %>">
                <label for="name">Name (Optional)</label>
                <input id="name" type="text" name="name">
                <label for="somefile">New file</label>
                <input id="somefile" type="file" name="somefile">
                <button type="submit">Submit</button>
            </form>
        <% } %>
        <% if (locals.currentUser && locals.folder !== null) { %>
            <% if (locals.folder.parentId) { %>
                <a href="/folder/<%=locals.folder.parentId%>">Back one level</a>
            <% } %>
        <% } %>
        <a href="/">Back to home</a>
</body>
</html>
