<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
        <h1><%= title %></h1>
        <%- include("./partials/errors") %>
        <% if (locals.currentUser && locals.folder !== null) { %>
            <p>Folder: <%= locals.folder.name %></p>
            <ul>
                <% folder.files.forEach((elem) => { %>
                    <li><%= elem.url %></li>
                <% }) %>
            </ul>
            <ul>
                <% folder.subfolders.forEach((elem) => { %>
                    <li><a href="/folder/<%=elem.id%>"><%= elem.name %></a></li>
                <% }) %>
            </ul>
            <form action="/folder" method="POST">
                <p>Create new folder</p>
                <input type="hidden" name="parentId" value="<%= folder.id %>">
                <label for="name">Name</label>
                <input id="name" type="text" name="name">
                <button type="submit">Submit</button>
            </form>
        <% } %>
        <% if (locals.currentUser && locals.folder !== null) { %>
            <% if (locals.folder.parentId) { %>
                <a href="/folder/<%=locals.folder.parentId%>">Back one level</a>
            <% } %>
        <% } %>
        <a href="/">Back to home</a>
</body>
</html>
